body {
  /* padding-top: 50px; */
}

.bg-centennial {
  background: url("./logo.PNG");
  background-repeat: no-repeat, repeat;
  background-position: center;
  min-height: 300px;
}

.font-dark {
  color: grey;
}

.crop {
  min-height: 400px;
}

.link-white {
  color: white;
  text-decoration: none;
}
.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  text-decoration: none;
  color: white;
}

.nav-margin {
  margin: auto;
}
@media (min-width: 992px) {
  .nav-margin li {
    margin: 0 40px;
  }
}

.nav-link:hover {
  color: #c40000;
  cursor: pointer;
}

.nav-link {
  color: black;
}

.jumbotron-p {
  font-weight: 700;
}

.font-red {
  color: #c40000;
}

.font-white {
  color: white;
}

.nav-link-white:hover {
  color: white;
  cursor: pointer;
}

.nav-link-dark:hover {
  color: black;
  cursor: pointer;
}

.cursor {
  cursor: pointer;
}
