@import url("https://fonts.googleapis.com/css?family=Raleway:200,100,400");
* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.6;
}

:required {
  border: 1px solid #c40000;
}

.select-red {
  border: 1px solid #c40000;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: grey;
  opacity: 0.3;
}

.carousel-item {
  transition: transform 2.5s ease, opacity 0.5s ease-out;
}

.carousel-control-prev,
.carousel-control-next {
  color: grey;
}

#footer-img-height {
  max-height: 25vh;
}
.carousel-indicators li {
  background-color: black;
}
.font-dark {
  color: grey;
}

.crop {
  height: 600px;
  min-width: 100%;
}

.link-white {
  color: white;
  text-decoration: none;
}

.border {
  border: solid 1px;
}

.link-white:hover {
  color: white;
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: black;
}

.sub-nav {
  color: black;
  text-decoration: none;
  font-weight: 700;
}

.sub-nav:hover {
  color: #c40000;
  text-decoration: none;
}

.link:hover {
  text-decoration: none;
  color: white;
}

.link-no-style,
.link-no-style:hover {
  text-decoration: none;
  color: black;
}

.text-decoration,
.text-decoration:hover {
  text-decoration: none;
}

.nav-margin {
  margin: auto;
}
@media (min-width: 992px) {
  .nav-margin li {
    margin: 0 40px;
  }
}
html {
  scroll-behavior: smooth;
}

.nav-link:hover {
  cursor: pointer;
  color: black;
}

.nav-link {
  color: white;
  font-weight: 600;
}

.jumbotron-p {
  font-weight: 700;
}

.font-red {
  color: #c40000;
}

.font-white {
  color: white;
}

.nav-link-white:hover {
  color: white;
  cursor: pointer;
}

.nav-link-red {
  color: #e60000;
  font-weight: 600;
}

.nav-link-red:hover {
  color: black;
  text-decoration: none;
}

.nav-link-dark:hover {
  color: black;
  cursor: pointer;
}

.cursor {
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.strong {
  font-weight: 800;
  border: 1px solid !important;
}

.fixed-bg {
  background: url("./img/ulemBuilding2.JPG");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 992px) {
  .fixed-pos {
    position: fixed;
  }
}

.transition {
  transition: opacity 1s;
}
.dropdown-item:active {
  background: white;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 20;
}

.sub-sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 5%;
  z-index: 20;
}

.sticky-side {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 8%;
  z-index: 1;
}

.inline {
  display: inline;
}

.list-no-style {
  list-style-type: none;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.animated.fadeInLeft {
  animation-name: fadeInLeft;
}

.animated.fadeInLeftBig {
  animation-name: fadeInLeftBig;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.animated.fadeInRight {
  animation-name: fadeInRight;
}

#timeline {
  list-style: none;
  position: relative;
  margin: 50px auto;
  width: 90%;
}
#timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background-color: #c40000;
  left: 50%;
  margin-left: -1.5px;
}

#timeline .timeline-badge {
  color: #fff;
  width: 25px;
  height: 25px;
  font-size: 1.2em;
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -13px;
  background-color: #fff;
  z-index: 6;
  border-radius: 50%;
  border: 2px solid #c40000;
}

#timeline .timeline-badge.timeline-future-movement {
  background-color: #ffffff;
  height: 120px;
  width: 120px;
  font-size: 1.7em;
  top: -16px;
  margin-left: -60px;
  border: 2px solid #c40000;
}

#timeline .timeline-movement {
  /*   border-bottom: dashed 1px #4997cd; */
  position: relative;
  margin-bottom: 10rem;
}

#timeline .timeline-movement .timeline-item .timeline-panel {
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  background-color: #ffffff;
  color: #666;
  padding: 10px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
#timeline .timeline-movement .timeline-item .timeline-panel .timeline-panel-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#timeline
  .timeline-movement
  .timeline-item
  .timeline-panel.credits
  .timeline-panel-ul
  .lefting-wrap {
  float: right;
  width: 30%;
  height: 130px;
  background-color: floralwhite;
}

.clear {
  clear: both;
}
#timeline
  .timeline-movement
  .timeline-item
  .timeline-panel.debits
  .timeline-panel-ul
  .lefting-wrap {
  float: left;
  width: 30%;
  height: 130px;
  background-color: floralwhite;
}
#timeline
  .timeline-movement
  .timeline-item
  .timeline-panel.debits
  .timeline-panel-ul
  .righting-wrap {
  float: right;
  width: 70%;
  height: 130px;
  padding: 0 0 0 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#timeline
  .timeline-movement
  .timeline-item
  .timeline-panel.debits
  .timeline-panel-ul
  li.img-wraping
  span
  img,
#timeline
  .timeline-movement
  .timeline-item
  .timeline-panel.credits
  .timeline-panel-ul
  li.img-wraping
  span
  img {
  width: 100%;
  height: 130px;
}

#timeline
  .timeline-movement
  .timeline-item
  .timeline-panel.credits
  .timeline-panel-ul
  li
  p.importo {
  color: #468c1f;
  font-size: 1.3em;
  font-weight: 600;
}

#timeline
  .timeline-movement
  .timeline-item
  .timeline-panel.debits
  .timeline-panel-ul
  p.importo {
  color: #e2001a;
  font-size: 1.3em;
  font-weight: 600;
}

footer a:hover,
footer link:hover {
  text-decoration: none;
  color: black;
}
